<!DOCTYPE html>
<html ng-app="myLan">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="angular.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body class="ng-cloak">
		<div ng-controller="ctrl">
			<ul ng-click="say()">
				<li ng-repeat="i in data">{{i}}</li>
			</ul>
		</div>
		<script type="text/javascript">
			var myModule=angular.module("myLan",[])
			myModule.factory("myFactory",function(){
				var obj=new Object();
				obj.str="不以物喜，不以己悲";
				obj.friend=["蘭","兰","lan"];
				obj.speak=function(){
					alert("LAN")
				}
				return obj
			})
			myModule.controller("ctrl",function($scope,myFactory){
				$scope.data=myFactory.friend;
				$scope.say=myFactory.speak;
			})
			
		</script>
	</body>
</html>
