<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="angular.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="" ng-controller="lan">
			<input type="text" name="" id="" value="" ng-model="lanf" />
			<h1>{{lanf}}</h1>
		</div>
		<div class="" ng-controller="lan">
			<input type="text" name="" id="" value="" ng-model="lanf" />
			<h1>{{lanf}}</h1>
		</div>
		<div class="" ng-controller="lan1">
			<input type="text" name="" id="" value="" ng-model="lanf" />
			<h1>{{lanf}}</h1>
		</div>
		<script type="text/javascript">
			angular.module("myApp",[])
			.controller("lan",function($scope){
				$scope.lanf=20
			})
			.controller("lan1",function($scope){
				$scope.lanf=40
			})
		</script>
	</body>
</html>
