<!DOCTYPE html>
<html ng-app="myLan">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="angular.min.js" type="text/javascript" charset="utf-8"></script>
		
	</head>
	<body class="ng-cloak">
		<fruit></fruit>
		<fruit apple></fruit>
		<fruit orange apple></fruit>
		<fruit orange apple banana></fruit>
		
		<script type="text/javascript">
			var myModule=angular.module("myLan",[])
			myModule.directive("fruit",function(){
				return {
					restrict:"E",
					template:"<div ng-click='fn()'>水果：<span ng-repeat='i in fruits'>{{i}}</span></div>",
					scope:{},
					controller:function($scope){
						$scope.fruits=[];
						$scope.fn=function(){
							alert($scope.fruits)
						}
						this.addApple=function(){
							$scope.fruits.push("苹果")
						}
						this.addBanana=function(){
							$scope.fruits.push("香蕉")
						}
						this.addOrange=function(){
							$scope.fruits.push("橘子")
						}
					}
				}
			})
			myModule.directive("apple",function(){
				return {
					require:"fruit",
					link:function(scope,ele,attr,ctrl){
						ctrl.addApple()
					}
				}
			})
			myModule.directive("orange",function(){
				return {
					require:"fruit",
					link:function(scope,ele,attr,ctrl){
						ctrl.addOrange()
					}
				}
			})
			myModule.directive("banana",function(){
				return {
					require:"fruit",
					link:function(scope,ele,attr,ctrl){
						ctrl.addBanana()
					}
				}
			})
		</script>
	</body>
</html>
